<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: rgb(246, 247, 248)">
    <center>
        <h1 style="font-family: Impact">
            Python Flask  CRUD use MongoDB Database
        </h1>
        <h3>By
            <a href="https://github.com/laodearissaputra"
            style="font-family: Arial" 
            target="_blank">
                @laodearissaputra
            </a>
        </h3>
    </center>
</body>
</html>